# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/
.venv/
.ENV/
env.bak/
venv.bak/

# Archivos de logs y pruebas
*.log
.coverage
.tox/
.cache/
pytest_cache/
htmlcov/

# Configuraciones del editor / IDE
.vscode/
.idea/
*.sublime-workspace

# Archivos de entorno
.env
.env.*
